<p>REDIA es un un repositorio de datos para investigación en Agricultura.  Dicho repositorio se ejecuta sobre una herramienta de código abierto llamada [CKAN] (http://ckan.org) cuya finalidad es cataloga datos. CKAN ha sido diseñada por la [Open Knowledge Foundation (OKF).] (https://okfn.org/).
</p>

<p>
CKAN es una solución completa de software preparada para hacer los datos accesibles y reutilizables, al proveer herramientas para publicar, compartir, encontrar y usar los datos (incluyendo almacenamiento de datos y provisión de APIs de datos robustas).

CKAN está orientada a proveedores de datos (gobiernos nacionales y regionales, infomediadoras, compañías, organizaciones y centros de investigación) que desean hacer sus datos abiertos y disponibles.
</p>
